.text-decorator-none{
    text-decoration: none;
}

.img{
    width: 70%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar{
    background-color: #423D3D !important;
    box-shadow: none !important;
}

.navbar::after{
    content: '';
    width: 70%;
    margin: auto;
    height: .1rem;
    background-color: #EB2474;
}

.navbar_desktop{
    display: none;
}

.navbarConfig{
    color:azure !important;
    font-size: 4vw !important;

}

.logoNavbar{
    width: 8vw !important;
    
}


