.text-decorator-none{
    text-decoration: none;
}

.navbarFundo{
    background-color: transparent !important;
    box-shadow: none;
}

.navbarConfig{
    color:azure !important;
    font-size: 4vw !important;

}

.logoNavbar{
    width: 8vw !important;
    
}

