.text-decorator-none{
    text-decoration: none;
}

.img{
    width: 70%;
    padding: 0.5rem;
}

.navbar{
    background-color: transparent !important;
    box-shadow: none !important;
}

.navbar_desktop{
    display: none;
}

