.Card {
    width: 80%;
    margin: auto;
    padding: 4rem 0 3rem 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.Card_container {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    transition: all ease .3s;
}

.Card_container:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

.Card_img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

.Card_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 7.5rem;
}

.Card_titulo{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.Card_descricao {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.541);
}

.Card_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.Card_valor{
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.small-avatar {
    width: 2em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 1.4em;
}

.Card_criador {
    border-top: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem 0 .5rem;
}

.nome_criador{
    font-weight: 700;
}

.acoes{
    display: flex;
    justify-content: end;
}