.form{
    display: flex;
    flex-direction: column;
    justify-content: end !important;
    padding-bottom: 10rem;
}

.form_sumit{
    display: flex;
    flex-direction: column;
}

.campo{
    width: 60% !important;
    border-radius: 5px;
}

.form_btn{
    width: 60%;
}