.box1{
    background-color: #EB2474;
    height: 120px;
}

.box2{
    background-color: #5941A9;
    height: 60px;
}

.redes{
   width:2.5vw !important;
    color: black;
}

.textos{
   color: white;
}